@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

.card {
    /* background-color: gainsboro; */
    height: 570px;
    text-align: center;
    /* width: 25%; */
    min-width: 300px;
    max-width: 300px;
    display: inline-block;
    color: cornsilk;
    margin: 10px;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
    /* padding-top: 30px; */
    padding: 20px;
    
    /* gap: 5px; */
    background-color: rgba(10, 6, 51, 0.521);
    /* opacity: 0.75 ; */
    white-space: normal;
}

img {
    background-color: gainsboro;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding-top: 30px;
}

.diets {
    
    text-align: center;
    
}

li {
    list-style: none;
    text-align: justify;
}

.name {
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
}

.centered {
    text-align: center;
}