select {
    border-radius: 20%;
}

.loading {
  position: absolute;
  width: 300px;
  left: 0;
  bottom: 15; 
  right: 0; 
  top: 20; 
  margin: auto;
}
.cardsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* display: flex;
    flex-wrap: wrap; */
    gap: 20px;
    margin: 5px;
    /* border: solid blue; */
    /* padding-left: 18%; */
    /* background-color: red; */
}

.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border-radius: 30%;
    background-color: rgb(209, 212, 212);
}

