.titulo {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50, -50);
    /* opacity: 70%; */
    /* border: 20px solid black; */

}

.botonIngresar {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50, -50);
    font-size: 25px;
    cursor: pointer;

}
